@charset "UTF-8";
/* 초기화 */
* {
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
	color: black;
}
ul, ol {
	list-style-type: none;
}
table {
	border-collapse: collapse;
}
div {
	box-sizing: border-box;
}


.mypage_body {
	display: flex;
	overflow: hidden;
	height: auto;
	margin: 2% 18% 12% 18%;
}
.mypage_category {
	margin: 0 2% 2% 3%;
}
.mypage_category a {
	display: block;
}
.mypage_category h2 {
	margin-bottom: 10px;
}
.mypage_contents {
	position: relative;
	right: -10%;
	width: 79%;
	margin: 21px 0 4% 0;
}
.mypage_contents > h2 {
	margin-bottom: 12px;
}
.mypage_contents .top {
	height: 3px;
	background: #dbdbdb;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	margin-bottom: 15px;
}