@charset "UTF-8";
* {
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
	color: black;
}
ul, ol {
	list-style-type: none;
}
table {
	border-collapse: collapse;
}
div {
	box-sizing: border-box;
}
#placeList, #placeList2{
	overflow:hidden;
}
.place-wrap, .place-wrap2{
	width : 100%;
	margin: 0 auto;
	margin-left: 100px;
	display:grid;
	grid-template-columns : repeat(3,400px);
	row-gap : 30px;
	column-gap: 30px;
	justify-content : space-evenly;
}
img{
	width:80%;
}
