@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
	background: white;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}



.body_wrap {
	width : 100%;
}

#btn_create {
	width : 150px;
	height: 55px;
	margin-left: 75%;
	margin-top: 30px;
	color: cadetblue;
	font-weight: 900;
	font-size: 20px;
}

.group-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 33%);
	gap: 11px; 
	text-align: center;
	margin-top: 5%;
	margin-left: 10%; 
}

.clubList {
	position: relative;
}

.clubList .title  a {
	display: block;
	position: absolute;
	color: #FFFFFF;
	top: 50%;
	left: 50%;
	font-size: 40px;
	font-weight: bold;
	transform: translate(-50%, -50%);
}

.clubList .content  a {
	position: absolute;
	width: 238px;
	top: 70%;
	left: 50%;
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	transform: translate(-50%, -50%);
}

.img {
	width: 70%;
}