@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bottom-head div:nth-of-type(1){
	border-bottom: 2px solid rgba(95, 158, 160, 1);
}
#bottom-head div:nth-of-type(1)>a{
	color: rgba(95, 158, 160, 1);
} 
.body {
	background: white;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

.body_wrap {
	width : 100%;
	text-align: center;
	font-size: 20px;
	margin: auto;
}

#main_title {
	text-align: center;
	margin: auto;
	font-size:35px; 
	color:cadetblue;
	font-weight: 800;
}

#btn_create {
	width : 150px;
	height: 55px;
	margin-left: 60%;
	color: cadetblue;
	background-color: white;
	font-weight: 900;
	font-size: 20px;
	border: 1px solid white;
}

#none_content {
	margin-top : 100px; 
}

.group-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 25%);
	gap: 11px; 
	text-align: center;
	margin-top: 5%;
	margin-left: 10%; 
}

.clubList {
	position: relative;
}

.clubList .title {
	margin-bottom: 15px;
	top: 75%;
	left: 50%;
}

.clubList .title  a {
	display: block;
	position: absolute;
	color: white;
	top: 45%;
	left: 50%;
	font-size: 35px;
	font-weight: 900;
	transform: translate(-50%, -50%);
}

.clubList .content  a {
	position: absolute;
	width: 238px;
	top: 75%;
	left: 50%;
	color: white;
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	transform: translate(-50%, -50%);
}

.img {
	width: 70%;
	height: 70%;
	opacity: 0.9;
}