@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: normal;
}

.body {
	background: white;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

.wrap {
	position: relative;
	width: 100%;
}

/* header */
.head-wrap {
	margin: 0 auto;
	max-width:  964px;
	height:90px;
	background: white;
    display: flex;
    justify-content: space-between;
}
#logo {
	width:200px;
}

#right-head {
    font-size: 16px;
	display: flex;
	padding: 20px 0px;
	vertical-align: middle;
}
#right-head div a {
	margin-right: 34px;
}

.head-content {
	display: flex;
	justify-content: center;	/* 가로 가운데 정렬 */
	align-items: center;		/* 세로 가운데 정렬 */
}

#bottom-head {
	display: flex;
}

#bottom-head div{
    font-size: 20px;
    padding:18px;
}

/* body */
.main {
	width: 1080px;
	margin: 0 auto;
	justify-content: center;
	display: flex;
	font-size:28px;
}

/* footer */
#title {
	justify-content: center;
	display: flex;
	font-weight: 900;
	font-size: 22px;
	margin-top: 15px;
}

#title_text {
	color: black;
	font-weight: 900;
	font-size: 22px;
}

.footer-wrap {
    width: 100%;
	border: 1px solid white;
	height: 350px;
	color: gray;
	background: rgba(95, 158, 160, 0.7);
	
}

.left-footer {
	margin: 30px;
	padding: 0 50px;
	justify-content: center;
	display: flex;
	font-size:15px;
}

.partners {
	display: flex;
}

.left-partners {
	margin-left: 250px;
}

.partners-info {
	margin-bottom: 30px;	
}

.right-partners {
	margin-left: 250px;
	margin-right: 250px;
}


.name {
	color: black;
	list-style-type: none;
}

.part {
	margin-bottom: 15px;
	list-style-type: none;
	font-weight: 900;
}

.partners-info > #partner-bold {
	list-style-type: none;
	font-weight: 900;
}

.name > #partner-bold:nth-of-type(n) {
	list-style-type: none;
	font-weight: 900;
}