@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
	background: white;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

.wrap {
	position: relative;
	width: 100%;
}

/* header */
.head-wrap {
	margin: 0px;
	width: 100%;
	padding: 40px 420px;
	border: 1px solid white;
	background: white;
    display: flex;
    justify-content: space-between;
}

.left_head_wrap {
	margin-top: 28px;
}

.right_head_wrap {
	padding:20px 0px;
}

#right_head div:nth-of-type(n) {
	display: inline;
	margin-left: 100px;
	font-weight: 700;
    font-size: 18px;
    padding:18px;
}

#right_head {
	display: flex;
	padding: 20px 0px;
}

.head_content {
	display: flex;
	justify-content: center;	/* 가로 가운데 정렬 */
	align-items: center;		/* 세로 가운데 정렬 */
}

#bottom_head {
	display: flex;
	padding: 20px 0px;
}

#bottom_head div:nth-of-type(n) {
	display: inline;
	margin-left: 100px;
	font-weight: 700;
    font-size: 15px;
    padding:18px;
}

/* body */
.main {
	margin: 220px;
	justify-content: center;
	display: flex;
	font-size:28px;
}

/* footer */
#title {
	justify-content: center;
	display: flex;
	font-weight: 900;
	font-size: 22px;
	margin-top: 15px;
}

#title_text {
	color: black;
	font-weight: 900;
	font-size: 22px;
}

.footer-wrap {
    width: 100%;
	border: 1px solid white;
	height: 350px;
	color: gray;
	background: lightgray;
}

.left-footer {
	margin: 30px;
	padding: 0 50px;
	justify-content: center;
	display: flex;
	font-size:15px;
}

.partners {
	display: flex;
}

.left-partners {
	margin-left: 250px;
}

.partners-info {
	margin-bottom: 30px;	
}

.right-partners {
	margin-left: 250px;
	margin-right: 250px;
}


.name {
	color: black;
	list-style-type: none;
}

.part {
	margin-bottom: 15px;
	list-style-type: none;
}

.partners-info > #partner-bold {
	list-style-type: none;
	font-weight: 900;
}

.name > #partner-bold:nth-of-type(n) {
	list-style-type: none;
}