@charset "UTF-8";

/* body */

/* slick */
section.slide-wrap{
	width: 100%;
	height: 400px;
	position: relative;
}
.event-list {
	width:100%;
	height:100%;
}
.event-list>img{
	width:100%;
	height: 400px;
}
.next, .prev{
	font-size: 30px;
	color: white;
	position:absolute;
	top:50%;
	z-index: 2;
	cursor: pointer;
	background: rgba(0,0,0,0.5);
	width: 50px;
	height: 50px;
	line-height: 55px;
	text-align: center;
	border-radius: 50%;
}
.next{
	right:30px;
}
.prev{
	
	left:30px;
}

/* main-body */
section.main {
	width: 1000px;
	margin: 0 auto 100px auto;
	justify-content: center;
	display: grid;
	grid-template-columns: 50% 50%;
}
article#main-event div.main-content{
	display: grid;
	width: 940px;
	grid-template-columns: repeat(3, 300px);
	margin: 0 auto;
	gap: 20px 20px;
}
article#main-event div.main-content a{
	display: inline-block;
	width: 300px;
	height: 300px;
}
div.event-img-box img{
	width: 300px;
	height: 300px;
}


/* 더보기 */
div.plus{
	margin-right: 20px;
	align-items: baseline;
}
div.plus>a{
	display: block;
	height: 35px;
	width: 100px;
	border: 1px solid #0f0f0f;
	border-radius: 17px;
	line-height: 35px;
	text-align: center;
}
div.plus>button{
	display: block;
	height: 35px;
	width: 35px;
	border: 1px solid #0f0f0f;
	background-color: white;
	font-size: 35px;
	out-line:none;
	cursor: pointer;
}

/* notice, faq */
div.dot{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: black;
	margin: 6px;
}

div.board-title{
	width: 70%;
}
div.board-date{
	width: 25%;
}
div.row{
	display: flex;
	margin: 4px 0;
}
article#main-event, article#main-club, article#main-place {
	grid-column : 1/3;
}

article[id^="main"]{
	margin-top:80px;
	padding: 0 10px;
}
div.main-subtitle{
	display: flex;
	justify-content: space-between;
}
div.main-subtitle + hr{
	margin: 10px 0;
	background-color: lightgray;
	
}
div.subtitle-wrap{
	display:flex;
	align-items: baseline;
}
div.larger-subtitle, div.smaller-subtitle{
	color: rgba(95, 158, 160, 1);
}
div.larger-subtitle{
	font-size: 28px;	
}
div.smaller-subtitle{
	height: 23px;
	font-size: 20px;
	margin-left: 10px;
}

/* list */
.not-exist{
	color: rgb(95,158,160);
	font-size: 20px;
}
.club-slide, .place-slide {
	width: 100%;
	height: 400px;
	overflow: hidden;
	margin: 0 auto;
	padding:10px 0px 10px 0px;
}
.slick-track {
	height: 400px;
}
.place-card{
	padding: 5px;
	border: 1px solid white;
	width: 250px;
	height:300px;
	margin:40px 10px;
	display:inline-block;
	background:white;
	border-radius: 5px;
	position: relative;
}
.club-card {
	width: 280px;
	height:280px;
	margin:0px 10px;
	display:inline-block;
	background:white;
	border-radius: 5px;
	position: relative;
}
.place-card div>img{
	width: 100%;
	height: 200px;
}

.club-card>img{
	width: 100%;
	height: 100%;
}
.club-card .club-card-title{
	position: absolute;
	top:40%;
	left: 20px;
	font-size: 30px;
}
.club-card .club-card-desc{
	position: absolute;
	top:70%;
	left: 25px;
	font-size:15px;
}
.text-stroke{
	color: white;
	 text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
@keyframes zigzag{
	5%{transform: rotate(1deg);}
	10%{transform: rotate(-1deg);}
	15%{transform: rotate(1deg);}
	20%{transform: rotate(-1deg);}
	25%{transform: rotate(1deg);}
	10%{transform: rotate(-1deg);}
	15%{transform: rotate(1deg);}
	40%{transform: rotate(-1deg);}
	45%{transform: rotate(1deg);}
	50%{transform: rotate(-1deg);}
	55%{transform: rotate(1deg);}
	60%{transform: rotate(-1deg);}
	65%{transform: rotate(1deg);}
	70%{transform: rotate(-1deg);}
	75%{transform: rotate(1deg);}
	80%{transform: rotate(-1deg);}
	85%{transform: rotate(1deg);}
	90%{transform: rotate(-1deg);}
	95%{transform: rotate(1deg);}
	100%{transform: rotate(0);}
}
.club-slide .slick-current{
	animation : zigzag 0.8s 1;
}
.place-slide .slick-current{
	transition: all ease 0.5s;
	transform: scale(1.1);
}

.place-slide .slick-current .place-card {
	box-shadow: 
		8px 0 20px 0px rgba(95,158,160),
		-8px 0 20px 0px rgba(95,158,160);
}