@charset "UTF-8";
/* 초기화 */
* {
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
	color: black;
}
ul, ol {
	list-style-type: none;
}
table {
	/* border-collapse: collapse; */
}
div {
	box-sizing: border-box;
}

hr[class="check"] {
	display: block;
}
/* findPwPage */
.main-aside {
	position: static;
	width: 70%;
	margin: 0 auto;
}
.inner-box {
	padding: 25px 0;
}
.resultBox {
	width: 75%;
	height: 70px;
	line-height: 70px;
	text-align: center;
	margin: 4% auto;
}
form {
	margin: 0 12%;
}
.authInputBox > input[type="text"] {
	width: 70%;
	height: 34px;
	margin: 0px;	
}	
.authInputBox > input[type="button"] {
	width: 54px;
	height: 31px;
	border: 1px solid cadetblue;
	border-radius: 5px;
	color: white;
	background: cadetblue;
	font-weight: bold;
}	

/* findPwPage2 */
.findPwPage2 {
	margin: 16px 0;
}
.newPw {
	width: 31%;
	font-weight: bold;
}
.newPw ~ td > input {
	width: 100%;
	height: 36px;
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 7px;
}
.confirmBtn {
	text-align: center;
}
.confirmBtn > input {
	width: 68px;
	height: 34px;
	border: 1px solid cadetblue;
	border-radius: 4px;
	color: white;
	background: cadetblue;
	font-weight: bold;
	margin: 21px 0;
}

/* findPwPage3 */
.Pw3 {
	width: 100%;
	line-height: normal;
}
.loginButton {
	width: 66px;
	height: 33px;
	border: 1px solid cadetblue;
	border-radius: 4px;
	color: white;
	background: cadetblue;
	font-weight: bold;
	margin: 0 41%;
}
