@charset "UTF-8";

/* 초기화 */
* {
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
	color: black;
}
ul, ol {
	list-style-type: none;
}
table {
	border-collapse: collapse;
}
div {
	box-sizing: border-box;
}


.box {
	background: #dbdbdb;
	height: 700px;
}
.inner-box {
	background: white;
	height: 600px;
	width: 40%;
	position: relative;
	left: 31%;
	top:7%;
	border-radius: 15px;
	text-align: left;
}
form {
	position: relative;
	top: 50px;
	padding: 5% 22%;
}
form * {
	margin: 9px;
}
h2 {
	margin-bottom: 20px; 
}
label {
	margin: 0px;
}
input[type="radio"] {
	margin: 0px 0px 0px 11px;
}
.id-box, .pw-box {
	height: 45px;
	width: 95%;
	border: 1px solid #dbdbdb;
}
.id-box > input, .pw-box > input {
	width: 93%;
	height: 100%;
	line-height: 39px;
	margin: 0 0 0 9px;
	border: none;
}
a[class="login"] {
	color: #5cb196;
	margin: 3%;
	font-size: 14px;
	font-weight: bold;
}
input[type="button"] {
	background: #5cb196;
	color: white;
	font-size: 15px;
	font-weight: bold;
	width: 45%;
	height: 41px;
	border: 1px solid #5cb196;
	border-radius: 2px;
	margin: 12% 27%;
}
h5 {
	margin: 0% 26%;
}
.kakaoLogin > a > img {
	margin: 4% 37%;
	
}
