@charset "UTF-8";
.box{
	height: 1000px;
	text-align:center;
}
#btn1{
	margin: 100px;
	padding: 100px;
	font-size: 20px;
	color: white;
	border-radius: 10px;
	border: 1px solid white;
	background: cadetblue;
}
#btn2{
	margin: 100px;
	padding: 100px;
	font-size: 20px;
	color: white;
	border-radius: 10px;
	border: 1px solid white;
	background: cadetblue;
}