@charset "UTF-8";
.box{
	height: 1000px;
	text-align:center;
}
.box2{
	margin:0 auto;
	background: cadetblue;
}
#btn1{
	margin: 10px 50px;
	padding: 25px 50px;
	font-size: 16px;
	border-radius: 10px;
	border: 1px solid white;
	color: white;
	background: cadetblue;
}
#btn2{
	margin: 10px 50px;
	padding: 25px 50px;
	font-size: 16px;
	border-radius: 10px;
	border: 1px solid white;
	color: white;
	background: cadetblue;
}