@charset "UTF-8";
div#uploaded-thumb-list{
	display:grid;
	
	grid-template-columns: repeat(4, 200px);
}
#uploaded-thumb-list > strong{
	grid-column : 1/4;
}

div.uploaded-img-box {
	position : relative;
	height: 200px;
}
div.uploaded-img-box>button {
	position : absolute;
	top:0px;
	right:10px;
}
div.uploaded-img-box img{
	position : absolute;
	top:0px;
	left:0px;
	width : 200px;
	height : 200px;
}

div.uploaded-img-box button {
	width: 30px;
	height: 30px;
	line-height: 0;
	border : 1px solid white;
	border-radius: 15px;
	background: rgba(216,191,216,1);
	font-size: 20px;
}