@charset "UTF-8";
html {
	scroll-behavior: smooth;
}
.body-wrap{
	width: 1080px;
	margin:0 auto;
}
section {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
}
/* 공간 옵션 css */
aside {
	position : sticky;
	top : 50px;
	width:324px;
	height : 80%;
	margin: 0 auto;
}
label{
	display: block;
	cursor:pointer;
	
}
.facility {
	border : 1px solid black;
	border-radius: 20px;
	text-align: center;
	height: 40px;
	line-height : 40px;
}
.option-info-box>.img-box{
	height: 200px;
	overflow: hidden;
}
.option-info-box>.img-box>img{
	width: 100%;
	transition: all ease 0.5s;
}
.option-info-box>.img-box>img:hover{
	transform: scale(1.2);
	width:300px;
}
.reserve-form > .btn-wrap > button{
	width : 150px;
	height : 30px;
	line-height: 30px;
	text-align: center;
}
.hidden-box{
	display:none;
}
.active{
	display:block;
}
/* 공간 메인 css */
article{
	width: 756px;
	height: 100%;
	margin: 0 auto;
	margin-right: 10px;
}
.place-nav {
position : sticky;
	top: 0;
}
.place-nav > ul {
	display: flex;
	list-style-type : none;
}
.place-nav > ul > li {
	border-left : 1px solid purple ; 
	border-right : 1px solid purple ;
	background: #FFF;
}
.place-nav > ul > li > a {
	display: inline-block;
	width : 150px;
	height: 30px;
	line-height: 30px;
	text-align : center;
}
div[id*="place-"]{
	padding-top:30px;
}
.thumbnail-box{
	overflow:hidden;
}
.thumbnail-box > img {
	width : 100%;
	transition: all ease 0.5s;
}
.thumbnail-box > img:hover {
	transform : scale(1.2) ;
}

/* 캘린더 css */

.ui-datepicker {
	width:300px;
	margin : 30px auto;
}
.ui-datepicker-header{
	width: 300px;
	height: 30px;
	display: flex;
	position:relative;
}
.ui-datepicker-title{
	width:100%;
	text-align: center;
}
.ui-datepicker-prev{
	position:absolute;
	left:2px
		
}
.ui-datepicker-next{
	position:absolute;
	right:2px
}
.ui-datepicker-calendar {
	width: 300px;
}
td {
	height: 30px;
	text-align: center;
	border: 1px solid black;
	cursor: pointer;
}
.ui-unselectable {
	cursor: default;
}
td>a{
	width:100%;
}
td.ui-datepicker-today{
	background: rgba(216,191,216, 0.5);
}
td:hover{
	background: rgba(216,191,216, 1);
}
td:active{
	background: rgba(216,191,216, 1);
}
.ui-datepicker-week-end{
	color: red;
}
@media screen and (max-width : 1100px){
	.body-wrap{
		width: 600px;
		margin: 0 auto;
	}
	section {
		width:100%;
		display: block;
	}
	aside {
		position:static;
		width: 100%;
	}
	article{
		width: 100%;
		margin: 0 auto;
	}
}